:root{
  --main-color: #dbc3d000;
  --main-modal-color: #dbc3d0e0;
  --second-color: #7d2424;
  --second-modal-color: #5e0232e1;
  --second-darker-color: #420022;

  --nav-height: 70px;
}
*{
  font-family: 'Josefin Sans', sans-serif;
}

nav{
  background-color: var(--main-color);
  height: var(--nav-height);   /*Estas dos lineas son para hacer el hack de alineación de los elementos */
  line-height: var(--nav-height);
  -webkit-box-shadow: none;
          box-shadow: none;

}

.desktop-nav ul{
  padding-right: 100px;
}
.desktop-nav a{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.desktop-nav a:hover{
  transition: 1seg;
  background-color: rgba(255, 255, 255, 0.137);
  color: rgb(156, 40, 38);
}

.HeroImage{
  
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(img/arrachera-marinada_xl.jpg);

  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  width: 100%;
  height: 100vh;
  /* border: solid blue 2px; */

}

.HeroImage-container{
  /* border: solid red 2px; */
  margin-top: var(--nav-height);
  /* border: solid red 2px; */
}

.imgLogo{
  max-height:250px;
  -webkit-box-shadow: 0px 0px 16px 6px rgba(153,153,153,1);
  -moz-box-shadow: 0px 0px 16px 6px rgba(153,153,153,1);
  box-shadow: 0px 0px 16px 6px rgba(153,153,153,1);
}

.eslogan{
  color: white;
}

@-webkit-keyframes bounce {

  75%{
    transform:translate(0px, -15px); 
  }
  
 100% {
    transform: translate(0px, 0px);
  }
}
.arrow{
  color:white;
  padding-top: var(--nav-height);
  -webkit-animation: bounce 0.99s infinite;
}


.section{
  width: 100%;
  min-height: 90vh;
}



.productos h2{
  text-align: center;
}

/* .carnes{
  border: solid green 2px; 
  height: 600px;
} */

.carousel{
  height: 600px;
}


.pedidos{
  background: var(--second-color); 
}

.pasos > .item{
  padding: 20px;
}

.icon-uno{
  color: white;
}

.contact{
  background: #ddd6f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact h2{
  text-align: center;
}

.icon-dos-wa,.icon-dos-fa,.icon-dos-co{
  color:var(--second-color);
}

.icon-dos-wa:hover{
  color: #24cd63;
  transition: 0.5s;
}
.icon-dos-fa:hover{
  color: #4267b2;
  transition: 0.5s;
}
.icon-dos-co:hover{
  color: #E1584B;
  transition: 0.5s;
}

.Footer{
  background-color: white;
  /* height: 70vh; */
}

.footer-text{
  color: var(--second-color);
}
.footer-text-h{
  color: var(--second-color);
  font-size: 2em;
  margin-left: 20px;
  
}

.footer-text-h:hover{
  color: #420022;
}

/***************MEDIA QUERIES MEDIUM****************/
@media only screen and (min-width: 601px){

}
/***************MEDIA QUERIES LARGE****************/
@media only screen and (min-width: 903px){
  .u-lg-flexCenter {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .brand-logo{
    align-items: center;
  }

  .producto{
    min-height: 50vh;
  }

}

/***************MEDIA QUERIES EXTRA LARGE****************/
@media only screen and (min-width: 1201px){

}